@import '../StyleVariables/StyleVariables.scss';

.list-modal-container {
  display: flex;
  height: 80vh;
  width: 60vw;
  background-color: $white;
  border-radius: $border;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  justify-content: space-between;
}

.list-modal-header {
  display: flex;
  justify-content: space-between;
  background-color: $background-gray;
  padding: 16px 8px 16px 8px;
  border-radius: $border;

  h2 {
    @include h2-text();
  }
}

.list-modal-content {
  overflow: auto;
  height: 100%;
}

.todo-list-container {
  display: flex;
  height: 100%;
  flex-flow: column;
  padding: 0 1rem;
}
